body {
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.7;
    color: white;
    background: radial-gradient(circle, rgba(13,8,32,1) 0%, rgba(73,16,35,1) 100%);

}

p#menu-button {
    background: transparent;
    color: white;
    border: 2px solid white; 
    border-radius: 4px; 
    font-size: 16px;
    max-width: fit-content;
    padding: 0 10px;
}

p#menu-button:hover {
    cursor: pointer;
}

main {
    padding: 1.25rem;
    align-content: center;
    text-align: center;
    min-height: 80vh;
}

div.date-time-container {
    margin: 20px auto;
}

p {
    margin: 0;
}

h1 {
    font-family: "modern-love", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin: 5px 0;
}
